*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tato, sans-serif;
  font-size: 25px;
}
.App{
  background-color: #fff;
  width: 50%;
  height: 45%;
  padding: 30px;
  position: relative;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
}
.App:hover{
  box-shadow: 10px 5px 15px 10px black;
  
}
#root{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
.btn{
  display: flex;
  padding: 10px;
  /*justify-content: flex-end;*/
}
.btn button{
  padding: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: absolute;
  color: white;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
h1{
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}